
.overlay {
  position:absolute;
  top:100%;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.7);
  z-index:-1;
  opacity:0;
  cursor:pointer;
  transition: 1s ease;
  display:none;
}

.menu__button.toggled {

  .line {
    background-color:$primary-link-color;
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
  }
  &:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  -ms-transform: translateY(-11px) rotate(-45deg);
  -o-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg)
  }

  &:last-child {
    margin-bottom:0;
  }
}
}

.active {
  color:$primary-link-color !important;
  font-weight:600;
  animation: 1750ms glowing infinite;
}
.link--active {
  color: $primary-link-color !important;
  font-weight:600;
  text-decoration:none;
}

.top-header {
  position:fixed;
  display: flex;
  background-color:#1b1c21;
  width:100%;
  align-items:center;
  flex-wrap: wrap;
  min-height:50px;
  z-index:3;
  -moz-box-shadow:    0 -7px 20px 8px #0000005c;
   -webkit-box-shadow: 0 -7px 20px 8px #0000005c;
   box-shadow:         0 -7px 20px 8px #0000005c;
   @include mq('tablet') {
   }
}

.top-bar {
  background-color: $primary-link-color;
  flex: 1;
  max-width:70px;
  order: 2;
  width:200px;
  height: 75px;
  display:flex;
  align-items:center;
  justify-content:center;
  .fa-envelope {
    color:white;
    padding:0.75em;
    font-size:1.6em;
  }
  @include mq('tablet') {
    display:none;
  }
}

.bottom-bar {
  display:flex;
  flex:5;
  flex-basis: 200px;
  padding: 0.5em 0.7em;
}

.menu-links {
  position:absolute;
  top:100%;
  width:80vw;
  height:100vh;
  display:flex;
  left: -100vw;
  justify-content:flex-start;
  list-style:none;
  flex-direction:column;
  flex-basis: 100%;
  background-color:#272727;
  transition: 0.5s ease;
  overflow:hidden;
}

.menu__button {
display:flex;
height:50px;
width:50px;
flex-direction:column;
align-items:center;
justify-content:center;
cursor: pointer;
.line {
  transition: 0.25s ease-in-out;

}
&:hover {
  .line {
    background-color:$primary-link-color;
  }

}
}


.menu-links__item {
  height:80px;
  padding-left:2em;
  font-weight:600;
  cursor:pointer;
  display:flex;
  align-items:center;
  color:#bdbdbd;
  text-decoration:none;
  border-bottom: 1px dashed #8080802b;
  &:hover {
    color:white;
  }
}


.header-logo {
  min-height:50px;
  display:flex;
  flex:1;
  align-items:center;
  padding-left:1em;
  .logo-mark {
    span {
      a {
        text-decoration:none;
        font-weight:600;
        color:white;
        font-size:2em;
        font-family:righteous;
      }
    }
  }
  .logo-subtext {
    flex: 1;
    padding-left: 0.5em;
    span {
     a{
       font-family:Righteous;
       text-decoration:None;
       color:$primary-link-color;
     }
    }
  }
}


.slide {
  transform: translateX(100vw);
}

.visible {
  display:block;
  opacity: 1;
}

.line {
  height:3px;
  width:30px;
  background-color:#efefefef;
  margin-bottom:8px;
  display:block;
  transition: background-color 0.45s ease;
  &:last-child {
    margin-bottom:0;
  }
}




@media(min-width:700px) {
.menu-links {
  display:flex;
  position:relative;
  top:0;
  left: 0;
  width:auto;
  height:auto;
  align-items:center;
  justify-content: flex-end;
  list-style:none;
  flex-direction: row;
  flex: 1;
  background: transparent;
}

.menu-links__item {
  margin-right:2em;
  padding: 0.5em;
  height:0px;
  border: 1px solid transparent;
  &:hover {
  background-color:transparent;
  }
}

.header-logo {
  border-left: 0;
  padding-left: 0;
}
.menu__button {
display:none;
}
}



.heading-contents {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:  0 auto;
    z-index: 1;
    order:2;
    align-items: center;
    padding-bottom:100px;
    justify-content: center;
    @include mq('tablet') {
      font-size:50px;
      text-align:left;
      align-items:flex-start;
      padding-left:2em;
      order:1;
      width:100%;
    }

    @include mq('desktop') {
    }
}

h1.heading-headline {
    color: $primary-link-color;
    text-transform: uppercase;
    text-align: center;
    font-family:monospace;
    margin-bottom: 0;
    max-width:30ch;
    font-size:1.8rem;
    letter-spacing:2.5px;
    @include mq('tablet') {
      font-size:50px;
      text-align:left;
    }

}

p.heading-subheading {
    color: #ececec;
    font-size: 1.2rem;
    font-weight: 400;
    text-align:center;
    max-width:35ch;
    @include mq('tablet') {
      text-align:left;
      max-width:60ch;
    }
}

.fixed {
}

.fa-laptop {
  font-size:2em;
}

/*
.main-content {
  display:grid;
  grid-template-columns: 2fr repeat(4, 3fr) 2fr;
}
*/
