// ----------------------------------------------------------------
//     COLOURS - INCLUDE VARIABLES FOR COLOURS HERE
// ----------------------------------------------------------------

// Links & Buttons
$active-link-color: blue;
$primary-link-color:#d61117;

// Backgrounds
$body-bg-color: #ececec;
//$primary-bg-color: #020219;
//$secondary-bg-color: #020219;
//$primary-bg-color:#0a2924;
$secondary-bg-color:#0d1829;
$primary-bg-color:#1d56b5;
//$secondary-bg-color:#021913;

// Type
$paragraph-font-color: grey;


// ----------------------------------------------------------------
//     TYPOGRAPHY - INCLUDE VARIABLES FOR TYPOGRAPHY HERE
// ----------------------------------------------------------------


// ----------------------------------------------------------------
//     IMAGES - STATIC IMAGES USED IN PROJECT
// ----------------------------------------------------------------




// ----------------------------------------------------------------
//     BREAKPOINTS - INCLUDE VARIABLES FOR BREAKPOINTS HERE
// ----------------------------------------------------------------
