
// MASTER GRID
.page-wrapper {
display: grid;
overflow:hidden;
}

// FIRST ROW
.top-header {

}

// SECOND ROW - NESTED GRID (MAIN ARTICLE)
.main-content {
display: grid;
margin: 0 auto;
max-width:1920px;
width:100%;
grid-template-columns: 0.7fr repeat(3, 3fr) 0.7fr;
//grid-template-columns: 3em repeat(4, 1fr) 3em;
  section {
    grid-column: 1 / -1;
    @include mq('tablet') {
    grid-column: 2 / -2;
    }
    &#home {
      display:grid;
      grid-column: 1/-1;
    }
  }
}

// THIRD ROW
.footer {

}
